<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <h1 class="d-flex justify-content-center">Around Me:</h1>

               
    <%- include("./partials/footer.ejs") %>
</body>

</html>